# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Custom Mod\Calculator_With_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/out/